@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-brand: #1b3631;

  --text-h1: 1.75rem;
  --text-h2: 1.5rem;
  --text-h3: 1.25rem;
  --text-h4: 1.125rem;
  --text-h5: 1rem;
  --text-h6: 1rem;
}

@layer base {
  h1 {
    font-size: var(--text-h1);
    font-weight: 700;
    line-height: 1.2;
  }

  h2 {
    font-size: var(--text-h2);
    font-weight: 700;
    line-height: 1.25;
  }

  h3 {
    font-size: var(--text-h3);
    font-weight: 600;
    line-height: 1.3;
  }

  h4 {
    font-size: var(--text-h4);
    font-weight: 600;
  }

  h5 {
    font-size: var(--text-h5);
    font-weight: 500;
  }

  h6 {
    font-size: var(--text-h6);
    font-weight: 500;
  }
}

@keyframes pop {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.animate-pop {
  animation: pop 0.4s ease-out forwards;
}
